<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <title>更新用户</title>

    <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="../dist/css/demo.css">
    <link rel="stylesheet" href="../dist/css/style.css">
</head>

<body>
<div id="userAddApp">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i
                            class="ion ion-navicon-round"></i></a></li>
                    <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                            class="ion ion-search"></i></a></li>
                </ul>
                <div class="search-element">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit"><i class="ion ion-search"></i></button>
                </div>
            </form>
            <ul class="navbar-nav navbar-right">
                <div th:include="common :: top"></div>
            </ul>
        </nav>
        <div th:include="common :: navigator"></div>
        <div class="main-content">
            <section class="section">
                <h1 class="section-header">
                    <div>添加用户</div>
                </h1>
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="card-body">
                                <form ID="userAdd" method="POST" action="/updateUserAction">
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="userName">用户名</label>
                                            <input id="userName" type="text" class="form-control" name="userName"
                                                   th:value="${userInfoAlter.userName}" readonly="readonly" autofocus>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="userNickName">昵称</label>
                                            <input id="userNickName" type="text" class="form-control"
                                                   th:value="${userInfoAlter.userNickname}" name="userNickname">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="userMail">Email</label>
                                            <input id="userMail" type="email" th:value="${userInfoAlter.userMail}"
                                                   class="form-control" name="userMail">
                                            <div class="invalid-feedback">
                                            </div>

                                        </div>
                                        <div class="form-group col-6">
                                            <label>部门</label>
                                            <select class="form-control" name="userDeptId" >
                                                <option th:each="dept:${depts}" th:value="${dept.deptId}" th:text="${dept.deptName}+'-'+${dept.deptRegionName}"
                                                        th:selected="${dept.deptId} == ${userInfoAlter.userDeptId} ? true :false"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="password" class="d-block">密码</label>
                                            <input id="password" type="password" class="form-control" name="password">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="password2" class="d-block">Password Confirmation</label>
                                            <input id="password2" type="password" class="form-control"
                                                   name="password-confirm">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="userPhone" class="d-block">电话</label>
                                            <input id="userPhone" type="text" class="form-control"
                                                   th:value="${userInfoAlter.userPhone}" name="userPhone">
                                        </div>
                                        <!--<div class="form-group col-6">-->
                                        <!--<label>Country</label>-->
                                        <!--<select class="form-control">-->
                                        <!--<option>Indonesia</option>-->
                                        <!--<option>Palestine</option>-->
                                        <!--<option>Syria</option>-->
                                        <!--<option>Malaysia</option>-->
                                        <!--<option>Thailand</option>-->
                                        <!--</select>-->
                                        <!--</div>-->
                                        <div class="form-group col-6">
                                            <label>性别</label>
                                            <select class="form-control" name="userSex">
                                                <option th:selected="${userInfoAlter.userSex eq '男'? true:false}"
                                                        value="男">男
                                                </option>
                                                <option th:selected="${userInfoAlter.userSex eq '女'? true:false}"
                                                        value="女">女
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label>状态</label>
                                            <select class="form-control" name="userStatus">
                                                <option th:selected="${userInfoAlter.userStatus eq '1'? true:false}"value="1">在职</option>
                                                <option th:selected="${userInfoAlter.userStatus eq '0'? true:false}"value="0">离职</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label>权限</label>
                                            <select class="form-control" name="userPower">
                                                <option  th:selected="${userInfoAlter.userStatus eq '0'? true:false}"value="0">普通用户</option>
                                                <option th:selected="${userInfoAlter.userStatus eq '1'? true:false} "value="1">管理员</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                    <!--&lt;!&ndash;<div class="form-group col-6">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label for="userRegesterTime" class="d-block">注册时间</label>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input id="userRegesterTime" type="date" class="form-control"&ndash;&gt;-->
                                    <!--&lt;!&ndash;name="userRegesterTime">&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="form-group col-6">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label>权限</label>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<select class="form-control">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>普通用户</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>管理员</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                    <!--<div class="custom-control custom-checkbox">-->
                                    <!--<input type="checkbox" name="agree" class="custom-control-input" id="agree">-->
                                    <!--<label class="custom-control-label" for="agree">我确认本次操作无误</label>-->
                                    <!--</div>-->
                                    <!--</div>-->

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            更新
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="footer-left">
                Copyright &copy; Winter
                <div class="bullet"></div>
                Winter BackGround <a target="_blank" title="人事管理">人事管理</a>
            </div>
            <div class="footer-right"></div>
        </footer>
    </div>
</div>
<script src="../dist/modules/jquery.min.js"></script>
<script src="../dist/modules/popper.js"></script>
<script src="../dist/modules/tooltip.js"></script>
<script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
<!--<script src="../dist/modules/moment.min.js"></script>-->
<script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="../dist/js/sa-functions.js"></script>

<script src="../dist/js/scripts.js"></script>
<script src="../dist/js/custom.js"></script>
<script src="../dist/js/demo.js"></script>
<script src="../vue.min.js"></script>
<script src="../my_axios.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    var app = new Vue({
            el: "#userAddApp",
            methods: {},
            data: {
                // userInfo: {
                //     userId: '',
                //     userName: '',
                //     userNickname: '',
                //     password: '',
                //     userSex: '',
                //     userPhone: '',
                //     userMail: '',
                //     userDeptId: '',
                //     userStatus: '',
                //     userRegestertime: '',
                //     userPower: '',
                //     // from dept
                //     deptId: '',
                //     deptRegionId: '',
                //     deptName: '',
                //     deptRegionName: ''
                // },
                UsersInfo: [[${UsersInfo}]]
            }

        }
    )
</script>

</body>
</html>