<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.winter.background.dao.DeptDao">
    <insert id="insertDept">
        insert into dept values (
        #{deptid},
        #{deptregionid},
        #{deptname},
        #{deptregionname}
        )
    </insert>

    <update id="updateDept">
        update dept
        <set>
            <if test="deptName!=null">
                deptName = #{deptName},
            </if>
        </set>
        where deptid = #{deptId}
    </update>

    <select id="getDeptIdByDeptName" resultType="java.lang.Integer">
        select deptid from dept
        <where>
            <if test="deptName!=null">
                deptname = #{deptName}
            </if>
        </where>
    </select>

    <select id="getDeptByExample" resultType="com.winter.background.domain.Dept">
        select * from dept
        <where>
            <if test="deptId!=null">
                AND  deptid = #{deptId}
            </if>
            <if test="deptRegionId!=null">
                AND  deptregionid = #{deptRegionId}
            </if>
            <if test="deptName!=null">
                AND deptname = #{deptName}
            </if>
            <if test="deptRegionName!=null">
                AND  deptregionname = #{deptRegionName}
            </if>
        </where>
    </select>

</mapper>