<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.background.dao.UserDao">
    <insert id="insertUser">
        insert into user values(
        #{userId},
        #{userName},
        #{userNickname},
        #{password},
        #{userSex},
        #{userPhone},
        #{userMail},
        #{userDeptId},
        #{userStatus},
        #{userRegestertime},
        #{userPower}
        )
    </insert>
    <update id="updateUser">
        update user
        <set>
            <if test="userNickname!=null">
                userNickname = #{userNickname} ,
            </if>
            <if test="password!=null">
                password = #{password} ,
            </if>
            <if test="userSex!=null">
                userSex = #{userSex} ,
            </if>
            <if test="userPhone!=null">
                userPhone = #{userPhone} ,
            </if>
            <if test="userMail!=null">
                userMail = #{userMail} ,
            </if>
            <if test="userDeptId!=null">
                userDeptId = #{userDeptId} ,
            </if>
            <if test="userStatus!=null">
                userStatus = #{userStatus} ,
            </if>
            <if test="userRegestertime!=null">
                userRegestertime = #{userRegestertime} ,
            </if>
            <if test="userPower!=null">
                userPower = #{userPower}
            </if>
        </set>
        where userid = #{userId}
    </update>

    <select id="getUserByExample" resultType="com.winter.background.domain.User">
        select * from user
        <where>
            <if test="userId!=null">
                userid = #{userId}
            </if>
            <if test="userName!=null">
                AND userName = #{userName}
            </if>
            <if test="userNickname!=null">
                AND userNickname = #{userNickname}
            </if>
            <if test="password!=null">
                AND password = #{password}
            </if>
            <if test="userSex!=null">
                AND userSex = #{userSex}
            </if>
            <if test="userPhone!=null">
                AND userPhone = #{userPhone}
            </if>
            <if test="userMail!=null">
                AND userMail = #{userMail}
            </if>
            <if test="userDeptId!=null">
                AND userDeptId = #{userDeptId}
            </if>
            <if test="userStatus!=null">
                AND userStatus = #{userStatus}
            </if>
            <if test="userRegestertime!=null">
                AND userRegestertime = #{userRegestertime}
            </if>
            <if test="userPower!=null">
                AND userPower = #{userPower}
            </if>
        </where>
    </select>
    <select id="getUserDeptViewByExample" resultType="com.winter.background.domain.view.UserDeptView">
        select * from user inner join dept
        <where>
            user.userdeptid = dept.deptid
            <if test="userId!=null">
                userid = #{userId}
            </if>
            <if test="userName!=null">
                AND userName = #{userName}
            </if>
            <if test="userNickname!=null">
                AND userNickname = #{userNickname}
            </if>
            <if test="password!=null">
                AND password = #{password}
            </if>
            <if test="userSex!=null">
                AND userSex = #{userSex}
            </if>
            <if test="userPhone!=null">
                AND userPhone = #{userPhone}
            </if>
            <if test="userMail!=null">
                AND userMail = #{userMail}
            </if>
            <if test="userDeptId!=null">
                AND userDeptId = #{userDeptId}
            </if>
            <if test="userStatus!=null">
                AND userStatus = #{userStatus}
            </if>
            <if test="userRegestertime!=null">
                AND userRegestertime = #{userRegestertime}
            </if>
            <if test="userPower!=null">
                AND userPower = #{userPower}
            </if>
            <if test="deptId!=null">
                AND deptId = #{deptId}
            </if>
            <if test="deptRegionId!=null">
                AND deptRegionId = #{deptRegionId}
            </if>
            <if test="deptName!=null">
                AND deptName = #{deptName}
            </if>
            <if test="deptRegionName!=null">
                AND deptRegionName = #{deptRegionName}
            </if>
        </where>
    </select>
</mapper>